.product p:nth-child(odd) {
    float: left;
    margin: 0;
}
.product p:nth-child(even) {
    float: right;
    margin: 0;
}
.m {
    width: 80%;
    margin: 0 auto;
}
.works {
    display: flex;
    flex-direction: row;
}
.works div{
    width: 25%;
    text-align: center;
}













/* 图标库 */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
a {
    color:black ;
    text-decoration: none;
}