html,body{
    margin: 0 auto;
    width: 80%;
    height:100%;
    overflow: hidden;
}
.container{
    height:100%;
}
.page{
    height:100%;
}
input{
    display:none;
    visibility: hidden;
    width:0;
    height:0;
}
.nav{
    position: fixed;
    width:60px;
    height:60px;
    border-radius: 50%;
    right: 2rem;;
    top:45%;
    background-color: #5561ff;
    font-size: 16px;
    padding-top: 8px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}
.nav-base{
    margin-top: -120px;
    background-color: #f1ccb8;
}
.nav-skills{
    margin-top: -40px;
    background-color: #f1f1b8;
}
.nav-experience{
    margin-top: 40px;
    background-color: #b8f1ed;
}
.nav-my{
    margin-top:120px;
    background-color: #b8f1cc;
}
.slide-base:checked~.nav-base{
    background-color: #eee;
    color:#ae716e;
}
.slide-skills:checked~.nav-skills{
    background-color: #eee;
    color:#cf8878;
}
.slide-experience:checked~.nav-experience{
    background-color: #eee;
    color:#b8f1ed;
}
.slide-my:checked~.nav-my{
    background-color: #eee;
    color:#b8d38f
}
.container{
    transition: 500ms;
    transition-timing-function: ease-in;
}
.slide-base:checked~.container{
    transform: translateY(0);
}
.slide-skills:checked~.container{
    transform: translateY(-100%);
}
.slide-experience:checked~.container{
    transform: translateY(-200%);
}
.slide-my:checked~.container{
    transform: translateY(-300%);
}